# The swaplevel() method

In [2]:
import pandas as pd
mac=pd.read_csv("bigmac.csv",parse_dates=["Date"],index_col=["Date","Country"])
mac.sort_index(inplace=True)
mac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [3]:
#Lets swap the indexes
mac.swaplevel()

                           Price in US Dollars
Country        Date
Argentina      2010-01-01                 1.84
Australia      2010-01-01                 3.98
Brazil         2010-01-01                 4.76
Britain        2010-01-01                 3.67
Canada         2010-01-01                 3.97
Chile          2010-01-01                 3.18
China          2010-01-01                 1.83
Colombia       2010-01-01                 3.91
Costa Rica     2010-01-01                 3.52
Czech Republic 2010-01-01                 3.71
Denmark        2010-01-01                 5.99
Egypt          2010-01-01                 2.38
Euro area      2010-01-01                 4.84
Hong Kong      2010-01-01                 1.91
Hungary        2010-01-01                 3.86
Indonesia      2010-01-01                 2.24
Israel         2010-01-01                 3.99
Japan          2010-01-01                 3.50
Latvia         2010-01-01                 3.09
Lithuania      2010-01-01                 2.87
Malaysia       2010-01-01                 2.08
Mexico         2010-01-01                 2.50
New Zealand    2010-01-01                 3.61
Norway         2010-01-01                 7.02
Pakistan       2010-01-01                 2.42
Peru           2010-01-01                 2.81
Philippines    2010-01-01                 2.21
Poland         2010-01-01                 2.86
Russia         2010-01-01                 2.34
Saudi Arabia   2010-01-01                 2.67
...                                        ...
Italy          2016-01-01                 4.30
Japan          2016-01-01                 3.12
Malaysia       2016-01-01                 1.82
Mexico         2016-01-01                 2.81
Netherlands    2016-01-01                 3.71
New Zealand    2016-01-01                 3.91
Norway         2016-01-01                 5.21
Pakistan       2016-01-01                 2.86
Peru           2016-01-01                 2.93
Philippines    2016-01-01                 2.79
Poland         2016-01-01                 2.37
Portugal       2016-01-01                 3.23
Russia         2016-01-01                 1.53
Saudi Arabia   2016-01-01                 3.20
Singapore      2016-01-01                 3.27
South Africa   2016-01-01                 1.77
South Korea    2016-01-01                 3.59
Spain          2016-01-01                 3.76
Sri Lanka      2016-01-01                 2.43
Sweden         2016-01-01                 5.23
Switzerland    2016-01-01                 6.44
Taiwan         2016-01-01                 2.08
Thailand       2016-01-01                 3.09
Turkey         2016-01-01                 3.41
UAE            2016-01-01                 3.54
Ukraine        2016-01-01                 1.54
United States  2016-01-01                 4.93
Uruguay        2016-01-01                 3.74
Venezuela      2016-01-01                 0.66
Vietnam        2016-01-01                 2.67

[652 rows x 1 columns]