# Extract rows using multiindex

In [1]:
import pandas as pd
mac=pd.read_csv("bigmac.csv",index_col=["Date","Country"],parse_dates=["Date"])
mac.sort_index(inplace=True)
mac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

Please be remember when we want to extract a row from a dataframe with multiindex, 
we have to use tuple to mention the index values as a first parameter in loc method

In [2]:
mac.loc[("2010-01-01","Australia"),["Price in US Dollars"]]

                      Price in US Dollars
Date       Country
2010-01-01 Australia                 3.98

You can note that, you can mention multiple column names using list which is a usual case

In [8]:
mac.ix[("2010-01-01","Egypt"),0]

C:\Users\Gowtham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

2.38

For second arguement, you can pass column position

# The .transpose() and column multiindexing

Multi indexing can be performed on columns as well and in our example we are going to use transpose() to demonstrate the same

In [12]:
mac=mac.transpose()
mac.head()
#transpose() will swap the columns and rows

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                    ...  2016-01-01  \
Country             Colombia Costa Rica Czech Republic  ... Switzerland
Price in US Dollars     3.91       3.52           3.71  ...        6.44

Date                                                                    \
Country             Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

Date
Country             Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

In [14]:
mac.loc["Price in US Dollars",("2010-01-01")]

Date        Country
2010-01-01  Argentina         1.84
            Australia         3.98
            Brazil            4.76
            Britain           3.67
            Canada            3.97
            Chile             3.18
            China             1.83
            Colombia          3.91
            Costa Rica        3.52
            Czech Republic    3.71
            Denmark           5.99
            Egypt             2.38
            Euro area         4.84
            Hong Kong         1.91
            Hungary           3.86
            Indonesia         2.24
            Israel            3.99
            Japan             3.50
            Latvia            3.09
            Lithuania         2.87
            Malaysia          2.08
            Mexico            2.50
            New Zealand       3.61
            Norway            7.02
            Pakistan          2.42
            Peru              2.81
            Philippines       2.21
            Poland            2.86
            Russia            2.34
            Saudi Arabia      2.67
            Singapore         3.19
            South Africa      2.46
            South Korea       2.98
            Sri Lanka         1.83
            Sweden            5.51
            Switzerland       6.30
            Taiwan            2.36
            Thailand          2.11
            Turkey            3.83
            UAE               2.99
            Ukraine           1.83
            United States     3.58
            Uruguay           3.32
Name: Price in US Dollars, dtype: float64

In [16]:
#Lets refine the filtering by giving the first level index as well
mac.loc["Price in US Dollars",("2010-01-01","Japan")]

Date        Country
2010-01-01  Japan      3.5
Name: Price in US Dollars, dtype: float64