# Extract rows using multiindex

In [1]:
import pandas as pd
mac=pd.read_csv("bigmac.csv",index_col=["Date","Country"],parse_dates=["Date"])
mac.sort_index(inplace=True)
mac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

Please be remember when we want to extract a row from a dataframe with multiindex, 
we have to use tuple to mention the index values as a first parameter in loc method

In [2]:
mac.loc[("2010-01-01","Australia"),["Price in US Dollars"]]

                      Price in US Dollars
Date       Country
2010-01-01 Australia                 3.98

You can note that, you can mention multiple column names using list which is a usual case

In [8]:
mac.ix[("2010-01-01","Egypt"),0]

C:\Users\Gowtham\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

2.38

For second arguement, you can pass column position

# The .transpose() and column multiindexing

Multi indexing can be performed on columns as well and in our example we are going to use transpose() to demonstrate the same

In [10]:
mac=mac.transpose()

mac.head()